* {
    box-sizing: border-box;
}

.btn-area {
    background-color: lightcoral;
    border: 2px solid orangered;
    border-radius: 5px;
    height: auto;
    margin: 50px auto;
    width: 400px;
}

button {
    background-color: green;
    border: 2px solid palegreen;
    border-radius: 0.5vh;
    color: palegreen;
    display: inline-block;
    font-size: medium;
    font-weight: 600;
    height: 50px;
    margin: 10px 3px;
    padding: 2px;
    text-align: center;
    width: 30%;
}

#text {
    color: green;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin: 10px 30px;
    width: 50%;
}